# This workflow will build a MuleSoft project

name: Build Mulesoft

on:
  push:
    branches: [ master ]
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    
    - uses: actions/checkout@v2
    
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    
    - name: Add repo credentials
      uses: s4u/maven-settings-action@v2.4.0
      with:
        servers: |
          [{
           "id": "mule-enterprise",
           "username": "${{ secrets.mule_nexus_username }}",
           "password": "${{ secrets.mule_nexus_password }}"
          }]
    
    - name: cat setting.yaml
      run: cat /home/runner/.m2/settings.xml
    
    - name: Build with Maven
      run: mvn -B -Dsecurekey=${{ secrets.securekey }} -Denv=dev install package --file pom.xml
    
    - name: Stamp artifact file name with commit hash
      run: |
        artifactName1=$(ls target/*.jar | head -1)
        commitHash=$(git rev-parse --short "$GITHUB_SHA")
        artifactName2=$(ls target/*.jar | head -1 | sed "s/.jar/-$commitHash.jar/g")
        mv $artifactName1 $artifactName2
      
    - name: Upload artifact 
      uses: actions/upload-artifact@master
      with:
          name: artifacts
          path: target/*.jar

    - name: Veracode Upload and Scan
      uses: veracode/veracode-uploadandscan-action@0.2.4
      with: 
        appname: 'HelloMule'
        createprofile: true
        filepath: target/*.jar
        vid: ${{ secrets.veracode_api_id }}
        vkey: ${{ secrets.veracode_api_key}}
        
  pipeline-scanner:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
    
    - uses: actions/checkout@v2
    
    - uses: actions/download-artifact@master
      with:
        name: artifacts
        
    - name: Download Pipeline Scanner 
      uses: wei/curl@master 
      with: 
        args: -O https://downloads.veracode.com/securityscan/pipeline-scan-LATEST.zip
    
    - name: Unzip the Pipeline Scanner
      run: unzip pipeline-scan-LATEST.zip
    
    - name: Show file permissions
      run: ls -la 
      
    - name: Run Pipeline Scanner
      run: java -jar pipeline-scan.jar --veracode_api_id "${{secrets.veracode_api_id}}" --veracode_api_key "${{secrets.veracode_api_key}}" --file "artifacts.zip" --fail_on_severity="Very High, High"
      
